{% extends 'courses/base.html' %}
{% block content %}
<br>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</br>
</br>
</br>
</br>
<div class="container">
  <div class="row">
    <div class="col-sm">
        <h3>Your
        <span style="font-family:cursive;color:blue;">
       Request
            </span>
         is <span style="font-family:cursive;color:blue;">sent Successfully</span></h3>
    </div>
    <div class="col-sm">
      <iframe src="https://giphy.com/embed/QJ4Hm8oJgMJIqFAuVc" width="200" height="200" frameBorder="0"></iframe>

    </div>
  </div>
</div>
</body>
</html>
{% endblock %}